# Compiled binaries and large cache files
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE-specific settings and files
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo

# Project and solution files
*.sln
*.uproject
*.xcodeproj
*.xcworkspace